@font-face {
    font-family: 'ALS Rubl';
    src: url('ALSRubl.eot');
    src: url('ALSRubl.eot?#iefix') format('embedded-opentype'),
        url('ALSRubl.woff2') format('woff2'),
        url('ALSRubl.woff') format('woff'),
        url('ALSRubl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

