<footer class="footer">
    <div class="footer__top">
        <div class="mbox">
            <a href="#header" class="footer__back anchor"></a>
            <div class="footer__inner">
                <div class="footer__row">
                    <div class="footer__col">
                        <a href="#" class="footer__item">Каталог</a>
                        <a href="#" class="footer__item">Бонусы</a>
                        <a href="#" class="footer__item">Скидки</a>
                    </div>
                    <div class="footer__col">
                        <a href="#" class="footer__item">Доставка</a>
                        <a href="#" class="footer__item">Возврат</a>
                        <a href="#" class="footer__item">Обмен</a>
                    </div>
                    <div class="footer__col"></div>
                    <div class="footer__col"></div>
                    <div class="footer__col"></div>
                    <div class="footer__col">
                        <a href="#" class="footer__item">Магазины</a>
                        <a href="#" class="footer__item">Оплата</a>
                        <a href="#" class="footer__item">Помощь</a>
                    </div>
                    <div class="footer__col">
                        <a href="#" class="footer__item">Компания</a>
                        <a href="#" class="footer__item">Новости</a>
                        <a href="#" class="footer__item">Контакты</a>
                    </div>
                </div>
                <div class="footer__desc">
                    <div class="footer__logo">
                        <img src="images/footer__logo.png" alt="">
                    </div>
                    <div class="footer__name">Cash&Carry</div>
                    <div class="footer__info">
                        «Игрушка Cash&Carry» — это оптово-розничный магазин. Наши цены приятно удивят как розничного, так и оптового покупателя!  Огромный выбор игрушек для всех возрастов по приятным ценам. У нас вы сможете позволить себе больше.
                    </div>
                </div>
            </div>
            <div class="footer__contacts">
                <a href="#" class="footer__yandex">
                    <img src="images/yandex-market.png" alt="">
                </a>
                <a href="tel:88002507479" class="footer__phone">8 800 250 74 79</a>
                <div class="footer__socials">
                    <a href="#" class="footer__icon">
                        <svg><use xlink:href="#ok-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__icon">
                        <svg><use xlink:href="#vk-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__icon">
                        <svg><use xlink:href="#facebook-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__icon footer__icon--inst">
                        <svg><use xlink:href="#instargam-ico"></use></svg>
                    </a>
                </div>
                <a href="mailto:info@igrushka.tv" class="footer__email">info@igrushka.tv</a>
                <div class="footer__socials">
                    <a href="#" class="footer__icon">
                        <svg><use xlink:href="#visa-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__icon">
                        <svg><use xlink:href="#mastercard-ico"></use></svg>
                    </a>
                </div>
                <div class="footer__address">
                    ООО «Игрушка КЭШ», ИНН – 7104525140, ОГРН - 1147154021277
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="mbox">
            <div class="footer__bot">
                <div class="footer__bot-item">©2019 Игрушка КЭШ</div>
                <a href="#" class="footer__bot-item">Пользовательское соглашение</a>
                <div class="footer__bot-item">Разработка сайта:
                    <a href="#">WebGK</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-block">
        <div id="authorization" class="auth authorization">
            <div class="popup">
                <div class="auth__box">
                    <div class="form__box">
                        <h3>Авторизация</h3>
                    </div>
                    <div class="form js-auth-form">
                        <form action="">
                            <div class="form__box">
                                <div class="form__item">
                                    <div class="form__title">Электронная почта:</div>
                                    <!--<div class="form__order">Поле не заполнено</div>-->
                                    <input type="email" required>
                                    <span class="form__star">*</span>
                                </div>
                                <div class="form__item">
                                    <div class="form__title">Пароль:</div>
                                    <input type="password" required>
                                    <span class="form__star">*</span>
                                </div>
                                <div class="form__item">
                                    <div class="form__title">Бонусная карта:</div>
                                    <input type="button" class="button js-get-pass-button" value="Забыли пароль?">
                                    <span class="form__star">*</span>
                                </div>
                            </div>
                            <div class="form__box gray-border">
                                <div class="form__text">
                                    <p>Вход в личный кабинет на сайте подразумевает обязательное согласие с <a href="#">политикой конфиденциальности</a></p>
                                </div>
                                <div class="form__item">
                                    <input type="submit" class="button button--red" value="Авторизироваться">
                                    <span class="form__star">*</span>
                                </div>
                                <div class="form__have">
                                    <p>У вас ещё нет аккаунта? <a href="#">Зарегистрируйтесь</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form js-get-pass-form hidden">
                        <form action="">
                            <div class="form__box">
                                <div class="form__item">
                                    <div class="form__title">Электронная почта:</div>
                                    <input type="text" required>
                                    <span class="form__star">*</span>
                                </div>
                                <div class="form__item">
                                    <input type="button" class="button" value="Отправить пароль">
                                    <span class="form__star">*</span>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div id="registration" class="auth registration">
            <div class="popup">
                <div class="auth__box">
                    <div class="form__box">
                        <h3>Регистрация</h3>
                    </div>
                    <div class="form">
                        <form action="">
                            <div class="form__box">
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__title">Электронная почта:</div>
                                        <input type="text" required placeholder="">
                                        <span class="form__star">*</span>
                                    </div>
                                    <div class="form__item">
                                        <div class="form__title">Телефон:</div>
                                        <input type="tel" class="tel-mask" required placeholder="Поле не заполнено">
                                        <span class="form__star">*</span>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__title">Имя:</div>
                                        <input type="text" required placeholder="">
                                        <span class="form__star">*</span>
                                    </div>
                                    <div class="form__item">
                                        <div class="form__title">Фамилия:</div>
                                        <input type="text" required placeholder="">
                                        <span class="form__star">*</span>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__item">
                                        <div class="form__title">Пароль:</div>
                                        <input type="password" required placeholder="">
                                        <span class="form__star">*</span>
                                    </div>
                                    <div class="form__item">
                                        <div class="form__title">Пароль еще раз:</div>
                                        <input type="password" required placeholder="">
                                        <span class="form__star">*</span>
                                    </div>
                                </div>

                                <div class="form__item form__item--pass">
                                    <div class="form__title">Бонусная карта:</div>
                                    <div class="form__rub">
                                        <svg><use xlink:href="#ruble-ico"></use></svg>
                                    </div>
                                    <input type="text" class="button card-mask" placeholder="xxxxx-xxxxx-xxxxx">
                                    <span class="form__star">*</span>
                                </div>
                            </div>
                            <div class="form__box gray-border">
                                <div class="form__text">
                                    <p>Вход в личный кабинет на сайте подразумевает обязательное согласие с <a href="#">политикой конфиденциальности</a></p>
                                </div>
                                <div class="form__item">
                                    <input type="submit" class="button button--red" value="Зарегистрироваться">
                                    <span class="form__star">*</span>
                                </div>
                                <div class="form__have">
                                    <p>У вас уже есть аккаунт? <a href="#">Войти на сайт</a></p>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div id="nav" class="nav">
            <div class="nav__tab active">
                <div class="nav__img">
                    <img src="images/microscope.png" alt="">
                </div>
                <div class="nav__tab-title">Игрушки</div>
            </div>
            <div class="nav__content active">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/c2.png" alt="">
                </div>
                <div class="nav__tab-title">Конструкторы</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/categories/bag.png" alt="">
                </div>
                <div class="nav__tab-title">Сумки, рюкзаки</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/categories/milk.png" alt="">
                </div>
                <div class="nav__tab-title">Новорождённым</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/categories/salute.png" alt="">
                </div>
                <div class="nav__tab-title">Для праздника</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/categories/stationery.png" alt="">
                </div>
                <div class="nav__tab-title">Канцтовары</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/r1.png" alt="">
                </div>
                <div class="nav__tab-title">Спорт и отдых</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/categories/bed.png" alt="">
                </div>
                <div class="nav__tab-title">Для детской</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nav__tab">
                <div class="nav__img">
                    <img src="images/categories/car.png" alt="">
                </div>
                <div class="nav__tab-title">Книги</div>
            </div>
            <div class="nav__content">
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для девочек</a>
                        <ul>
                            <li><a href="#">Бытовая техника, уборка</a></li>
                            <li><a href="#">Домики, мебель, наборы</a></li>
                            <li><a href="#">Игрушечные кассы</a></li>
                            <li><a href="#">Кареты</a></li>
                            <li><a href="#">Кухни</a></li>
                            <li><a href="#">Наборы доктора</a></li>
                            <li><a href="#">Посуда, продукты</a></li>
                            <li><a href="#">Салон красоты</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Конструкторы</a>
                        <ul>
                            <li><a href="#">LBX</a></li>
                            <li><a href="#">Город мастеров</a></li>
                            <li><a href="#">Магнитный</a></li>
                            <li><a href="#">Металлический</a></li>
                            <li><a href="#">Для девочек</a></li>
                            <li><a href="#">Для мальчиков</a></li>
                            <li><a href="#">Для малышей</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Куклы, пупсы, пони</a>
                        <ul>
                            <li><a href="#">Arias</a></li>
                            <li><a href="#">Barbie</a></li>
                            <li><a href="#">Ever After High</a></li>
                            <li><a href="#">Frozen</a></li>
                            <li><a href="#">Lalaloopsy</a></li>
                            <li><a href="#">Monster High</a></li>
                            <li><a href="#">Moxie</a></li>
                            <li><a href="#">Mystixx</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Наборы для мальчиков</a>
                        <ul>
                            <li><a href="#">Автотреки</a></li>
                            <li><a href="#">Гаражи, парковки, участки</a></li>
                            <li><a href="#">Железные дороги</a></li>
                            <li><a href="#">Инструменты, стройка</a></li>
                            <li><a href="#">Солдатики, рыцари, ковбои</a></li>
                            <li><a href="#">Тематические наборы</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Оружие</a>
                        <ul>
                            <li><a href="#">Водное оружие</a></li>
                            <li><a href="#">Механическое оружие</a></li>
                            <li><a href="#">Оружие электронное</a></li>
                            <li><a href="#">Пневматическое оружие</a></li>
                            <li><a href="#">Холодное метательное</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Мягкие игрушки</a>
                        <ul>
                            <li><a href="#">Aurora</a></li>
                            <li><a href="#">Budi Basa</a></li>
                            <li><a href="#">Бегемотики</a></li>
                            <li><a href="#">Заяц, кролик</a></li>
                            <li><a href="#">Качалки</a></li>
                            <li><a href="#">Кошки</a></li>
                            <li><a href="#">Лошади</a></li>
                            <li><a href="#">Львы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Мультгерои</a></li>
                            <li><a href="#">Мягкая мебель</a></li>
                            <li><a href="#">Обезьяны</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav__col">
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Аксессуары для игрушек</a>
                        <ul>
                            <li><a href="#">Игровые домики, палатки</a></li>
                            <li><a href="#">Корзины, комоды для игрушек</a></li>
                        </ul>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Игрушки для ванной</a>
                    </div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Интерактивные игрушки</a></div>
                    <div class="nav__item nav__item--without-child">
                        <a href="#">Каталки «Тяни-толкай»</a>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Развивающие игры</a>
                        <ul>
                            <li><a href="#">Головоломки</a></li>
                            <li><a href="#">Игрушки на батарейках</a></li>
                            <li><a href="#">Компьютеры, планшеты</a></li>
                            <li><a href="#">Кубики</a></li>
                            <li><a href="#">Кукольный театр</a></li>
                            <li><a href="#">Неваляшки и юлы</a></li>
                            <li><a href="#">Опыты, исследования</a></li>
                            <li><a href="#">Пирамиды</a></li>
                            <li><a href="#">Плакаты, доски, азбуки</a></li>
                            <li><a href="#">Сортеры, логика</a></li>
                            <li><a href="#">Шнуровки</a></li>
                        </ul>
                    </div>
                    <div class="nav__item">
   <button type="button" class="nav__arrow"></button>
                        <a href="#">Творчество и хобби</a>
                        <ul>
                            <li><a href="#">Витражи и краски</a></li>
                            <li><a href="#">Гравюры</a></li>
                            <li><a href="#">Лепка, слаймы</a></li>
                            <li><a href="#">Рисование, наклейки</a></li>
                            <li><a href="#">Творческие наборы</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>