<script>

    var revision = 125219;
    var file = 'images/sprite.svg';
</script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/hammer.min.js"></script>
<script src="js/jq-touch-punch.js"></script>
<script src="js/jquery.sticky-kit.min.js"></script>
<script src="js/base.js"></script>

<script src="js/dev.js"></script>
 