<header id="header" class="header">
    <div class="mbox">
        <div class="header__fixed">
            <div class="header__row header__row--fixed">
                <div class="header__logo">
                    <img src="images/footer__logo.png" alt="">
                </div>
                <div class="header__city">
                    <a href="#">Екатеринбург</a>
                </div>
                <form class="header__search">
                    <input type="search" placeholder="Поиск">
                    <button>
                        <svg><use xlink:href="#search-ico"></use></svg>
                    </button>
                </form>
                <a href="tel:+88002507479" class="header__phone">8 800 250 74 79</a>
                <div class="header__icons">
                    <a href="" class="header__icon header__icon--user">
                        <svg><use xlink:href="#user-ico"></use></svg>
                    </a>
                    <a href="" class="header__icon header__icon--heart">
                        <svg><use xlink:href="#heart-ico"></use></svg>
                    </a>
                    <a href="" class="header__icon header__basket" data-basket="5">
                        <svg><use xlink:href="#basket-ico"></use></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="header__row header__row--nav">
            <div class="header__nav">
                <a href="#" class="header__item header__menu has-icon js-call-menu">
                    <span></span>
                    Меню
                </a>
                <a href="#nav" data-fancybox class="header__item has-icon js-catalog-open">
                    <svg><use xlink:href="#nav-ico"></use></svg>
                    Каталог
                </a>
                <a href="" class="header__item has-icon">
                    <svg><use xlink:href="#ruble-ico"></use></svg>
                    Бонусы
                </a>
                <a href="" class="header__item">Магазины</a>
                <a href="" class="header__item">Оплата</a>
                <a href="" class="header__item">Доставка</a>
                <a href="" class="header__item">Возврат</a>
                <a href="" class="header__item">О компании</a>
                <a href="" class="header__item">Новости</a>
            </div>
        </div>
    </div>
</header>