<div class="menu js-menu">
    <div class="menu__box">
        <div class="menu__wrap">
            <div class="menu__head">
                <h2>Меню</h2>
                <button class="menu__close js-close-menu">
                    <svg><use xlink:href="#cross"></use></svg>
                </button>
            </div>
            <div class="menu__list">
                <ul>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Бонусы</a></li>
                    <li><a href="#">Скидки</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Компания</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </div>
        </div>
        <div class="menu__where">
            <p>Екатеринбург</p>
            <a href="tel:88002507479"><span>88002507479</span></a>
        </div>
    </div>
</div>