<div class="paginator">
    <ul>
        <li class="paginator__abs"><a href="#" class="paginator__page paginator__arrow"></a></li>
        <li><a href="#" class="paginator__page">1</a></li>
        <li><a href="#" class="paginator__page js-paginator-dots">...</a></li>
        <li><a href="#" class="paginator__page ">3</a></li>
        <li><a href="#" class="paginator__page  active">4</a></li>
        <li><a href="#" class="paginator__page ">5</a></li>
        <li><a href="#" class="paginator__page js-paginator-dots">...</a></li>
        <li><a href="#" class="paginator__page ">32</a></li>
        <li class="paginator__total"><div>Страница <span>2</span> из <span>32</span> </div></li>
        <li class="paginator__abs paginator__abs--fwd"><a href="#" class="paginator__page paginator__arrow paginator__arrow--fwd"></a></li>
    </ul>
</div>