//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="article">
        <div class="mbox">
            <div class="article__wrap">
                <div class="heading">
                    <h2>Избавляемся от стресса и усталости</h2>
                </div>
                //= parts/breadcrumbs.html
            </div>
            <div class="article__chapter">
                <div class="article__left">
                    <div class="chapters">
                        <div class="chapters__item">
                            <div class="chapters__head">
                                <h3>Раздел</h3>
                            </div>
                            <div class="chapters__sub">
                                <span>ФОТО:</span>
                            </div>
                            <div class="chapters__image">
                                <img src="images/art_pic.jpg" alt="">
                            </div>
                            <div class="chapters__text">
                                <p>Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже. Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль. Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже.</p>
                            </div>
                            <div class="chapters__quote">
                                <h3>«Человек, который тянется к недостижимому идеалу, обречён. Вместо полезных действий все его усилия будут уходить на сравнение себя с другими людьми или с воображаемым «собой, только намного лучше». Результат — горькое разочарование и ощущение бесполезности»</h3>
                            </div>
                            <div class="chapters__quote chapters__quote--small">
                                <h3>«Человек, который тянется к недостижимому идеалу, обречён»</h3>
                            </div>
                            <div class="chapters__text">
                                <p>Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль. Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже. Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль. Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже. Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль.</p>
                            </div>
                        </div>
                        <div class="chapters__item">
                            <div class="chapters__head">
                                <h3>Раздел</h3>
                            </div>
                            <div class="chapters__sub">
                                <span>ФОТО:</span>
                            </div>
                            <div class="chapters__image">
                                <img src="images/art_pic2.jpg" alt="">
                            </div>
                            <div class="chapters__text">
                                <p>Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже. Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль. Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже.</p>
                            </div>
                            <div class="chapters__quote">
                                <h3>«Человек, который тянется к недостижимому идеалу, обречён. Вместо полезных действий все его усилия будут уходить на сравнение себя с другими людьми или с воображаемым «собой, только намного лучше». Результат — горькое разочарование и ощущение бесполезности»</h3>
                            </div>
                            <div class="chapters__quote chapters__quote--small">
                                <h3>«Человек, который тянется к недостижимому идеалу, обречён»</h3>
                            </div>
                            <div class="chapters__text">
                                <p>Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль. Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже. Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль. Товары для детей AmaroBaby разрабатывает команда профессионалов, следуя новейшим европейским стандартам и тщательно выбирая материал. Но последнее слово всё равно остаётся за покупателем. Все изделия тестируются в реальных условиях коллегией независимых мам, и только потом появляются в продаже. Ведь мамы знают лучше всех, какой товар будет самым удобным для малыша и его родителей! При создании нового продукта художники AmaroBaby тщательно разрабатывают каждую деталь, технологи подбирают высококачественные экологичные материалы, а производство воплощает идеи в жизнь. Компания предлагает продукт высокого качества по доступным ценам. AmaroBaby работает только с сертифицированным сырьем, а все товары проходят строгий производственный контроль.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article__right js-sticky-box">
                    <div class="article__sticker js-sticky-element">
                        <div class="chapters__about">
                            <div class="chapters__author chapters__author--short">
                                <div class="chapters__head">
                                    <h3>О статье</h3>
                                </div>
                                <div class="chapters__sub">
                                    <span>Автор:</span>
                                </div>
                                <a href="#" class="goods__slide-wrap">
                                    <div class="goods__slide">
                                        <div>
                                            <h4>Виктор М.</h4>
                                            <span>Маркетолог</span>
                                        </div>
                                        <div class="chapters__face">
                                            <img src="images/face.png" alt="">
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="chapters__author">
                                <div class="chapters__sub">
                                    <span>тэги:</span>
                                </div>
                                <div class="chapters__tags">
                                    <a href="#" class="tag"><span>Расслабление</span></a>
                                    <a href="#" class="tag"><span>Мамам</span></a>
                                    <a href="#" class="tag"><span>Усталость</span></a>
                                    <a href="#" class="tag"><span>Родителям</span></a>
                                    <a href="#" class="tag"><span>Прокрастинация</span></a>
                                    <a href="#" class="tag"><span>Тэг</span></a>
                                    <a href="#" class="tag"><span>Ещё</span></a>
                                    <a href="#" class="tag"><span>Жизнь</span></a>
                                </div>
                            </div>
                            <div class="chapters__author chapters__author--short chapters__author--subs">
                                <div class="chapters__sub">
                                    <span>Подписка:</span>
                                </div>
                                <a href="#" class="goods__slide-wrap">
                                    <div class="goods__slide">
                                        <div>
                                            <h4>Психология</h4>
                                            <span>270 статей</span>
                                        </div>
                                        <div class="chapters__face">
                                            <img src="images/brain.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="chapters__author">
                                <div class="chapters__sub">
                                    <span>Поделиться:</span>
                                </div>
                                <div class="chapters__soc">
                                    <div class="footer__socials">
                                        <a href="#" class="footer__icon">
                                            <svg><use xlink:href="#ok-ico"></use></svg>
                                        </a>
                                        <a href="#" class="footer__icon">
                                            <svg><use xlink:href="#vk-ico"></use></svg>
                                        </a>
                                        <a href="#" class="footer__icon">
                                            <svg><use xlink:href="#facebook-ico"></use></svg>
                                        </a>
                                        <a href="#" class="footer__icon">
                                            <svg><use xlink:href="#twitter"></use></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chapters__any">
                            <span>Любое использование материалов допускается только при наличии ссылки на igrushka.ru</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands__watched">
            <div class="mbox">
                <div class="watched">
                    <div class="watched__wrap">
                        <div class="heading heading--linked">
                            <h2>Товары из новости</h2>
                            <a href="#" class="link link--arrow">Все</a>
                        </div>
                        <div class="watched__slider">
                            <div class="slider">
                                <div class="slide__wrap overflow js-watched-slider">
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bag.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/ball.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/crab.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article__banner">
            <div class="mbox">
                <div class="news__banner">
                    <a href="#" class="banner">
                        <div class="banner__wrap">
                            <div class="banner__text">
                                <div class="banner__sub"><span>Рекомендуем</span></div>
                                <div class="banner__main">
                                    <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                                </div>
                                <div class="banner__pic">
                                    <img src="images/vel.png" alt="">
                                </div>
                            </div>

                            <div class="banner__images">
                                <img src="images/velotip.png" alt="">
                                <div class="banner__cloud">
                                    <img src="images/cloud.png" alt="">
                                </div>
                                <div class="banner__cloud banner__cloud--small">
                                    <img src="images/cloud.png" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>