//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="brands">
        <div class="mbox">
            <div class="news__wrap">
                <div class="heading">
                    <h2>Бренды</h2>
                </div>
                //= parts/breadcrumbs.html
                <div class="brands__box">
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/mattel.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Mattel</span>
                            </div>
                            <div class="brand__sub">
                                <span>27 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/barbie.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Barbie</span>
                            </div>
                            <div class="brand__sub">
                                <span>156 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/masha.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Маша и медведь</span>
                            </div>
                            <div class="brand__sub">
                                <span>31 товар</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/play.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Play Doh </span>
                            </div>
                            <div class="brand__sub">
                                <span>367 товаровв</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/pony.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>My Little Pony</span>
                            </div>
                            <div class="brand__sub">
                                <span>58 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/monster.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Monster High</span>
                            </div>
                            <div class="brand__sub">
                                <span>137 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/disnep.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Disney Принцесса</span>
                            </div>
                            <div class="brand__sub">
                                <span>82 товара</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/paw.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Paw Petrol</span>
                            </div>
                            <div class="brand__sub">
                                <span>7 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/nerf.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Nerf</span>
                            </div>
                            <div class="brand__sub">
                                <span>17 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/hasbo.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Hasbro</span>
                            </div>
                            <div class="brand__sub">
                                <span>7 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/bandai.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Bandai Namco</span>
                            </div>
                            <div class="brand__sub">
                                <span>179 товаров</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="brand">
                        <span class="brand__circle">
                            <div class="brand__image">
                                <img src="images/brands/hotwheels.png" alt="">
                            </div>
                        </span>
                        <div class="brand__text">
                            <div class="brand__head">
                                <span>Hot Wheels</span>
                            </div>
                            <div class="brand__sub">
                                <span>25 товаров</span>
                            </div>
                        </div>
                    </a>
                </div>
                <button class="button"><span>Показать еще</span></button>
                <div class="brands__paginator">
                    //= parts/paginator.html
                </div>
            </div>
        </div>
        <div class="brands__watched">
            <div class="mbox">
                <div class="watched">
                    <div class="watched__wrap">
                        <div class="heading heading--linked">
                            <h2>Вы смотрели</h2>
                            <a href="#" class="link link--arrow">Все</a>
                        </div>
                        <div class="watched__slider">
                            <div class="slider">
                                <div class="slide__wrap overflow js-watched-slider">
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bag.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/ball.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/crab.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news__banner">
                    <a href="#" class="banner">
                        <div class="banner__wrap">
                            <div class="banner__text">
                                <div class="banner__sub"><span>Рекомендуем</span></div>
                                <div class="banner__main">
                                    <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                                </div>
                                <div class="banner__pic">
                                    <img src="images/vel.png" alt="">
                                </div>
                            </div>

                            <div class="banner__images">
                                <img src="images/velotip.png" alt="">
                                <div class="banner__cloud">
                                    <img src="images/cloud.png" alt="">
                                </div>
                                <div class="banner__cloud banner__cloud--small">
                                    <img src="images/cloud.png" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>