//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="cabinet product">
        <div class="mbox">
            <div class="cabinet__wrap">
                <div class="heading">
                    <h2>Кабинет</h2>
                </div>
                <div class="cart__wrap">
                    <div class="product__col">
                        <div class="chapters">
                            <div class="chapters__item">
                                <div class="chapters__head">
                                    <h3>Мои заказы</h3>
                                </div>
                                <div class="chapters__sub">
                                    <span>Активные:</span>
                                </div>
                                <div class="cabinet__orders">
                                    <div class="cart__profile-box">
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№1561</span>
                                                <div class="cart__profile-del"></div>
                                            </div>
                                            <div class="cart__profile-img">
                                                <img src="images/toy-car.png" alt="">
                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Собирается</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№1561</span>
                                                <div class="cart__profile-del"></div>
                                            </div>
                                            <div class="cart__profile-img">
                                                <img src="images/crabby.png" alt="">
                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Не оплачен</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№5612</span>
                                                <div class="cart__profile-del"></div>
                                            </div>
                                            <div class="cart__profile-img cabinet__many-images">
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-car.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-rocket.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-turtle.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-sonic.png" alt="">
                                                </div>

                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Не оплачен</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№5612</span>
                                                <div class="cart__profile-del"></div>
                                            </div>
                                            <div class="cart__profile-img cabinet__many-images">
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-car.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-rocket.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-turtle.png" alt="">
                                                </div>
                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Не оплачен</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№5612</span>
                                                <div class="cart__profile-del"></div>
                                            </div>
                                            <div class="cart__profile-img cabinet__many-images">
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-car.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-rocket.png" alt="">
                                                </div>
                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Не оплачен</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№5612</span>
                                                <div class="cart__profile-del"></div>
                                            </div>
                                            <div class="cart__profile-img cabinet__many-images">
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-car.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <span>+5</span>
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-turtle.png" alt="">
                                                </div>
                                                <div class="cabinet__small-image">
                                                    <img src="images/mini-sonic.png" alt="">
                                                </div>

                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Не оплачен</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__item">
                                <div class="chapters__sub">
                                    <span>Завершённые:</span>
                                </div>
                                <div class="cabinet__orders">
                                    <div class="cart__profile-box">
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№1561</span>
                                                <div class="cabinet__return">
                                                    <svg><use xlink:href="#return-ico"></use></svg>
                                                </div>
                                            </div>
                                            <div class="cart__profile-img">
                                                <img src="images/mini-rocket.png" alt="">
                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Доставлен</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart__profile-item">
                                            <div class="cart__profile-name">
                                                <span>№1561</span>
                                                <div class="cabinet__return">
                                                    <svg><use xlink:href="#return-ico"></use></svg>
                                                </div>
                                            </div>
                                            <div class="cart__profile-img">
                                                <img src="images/mini-turtle.png" alt="">
                                            </div>
                                            <div class="cart__profile-bot">
                                                <div class="cart__profile-city">27 июня</div>
                                                <div class="cabinet__pricer">
                                                    <div class="cart__profile-address">Отменён</div>
                                                    <div class="cabinet__price">3 390 <span class="rubl">i</span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__item">
                                <div class="chapters__head">
                                    <h3>Привелегии</h3>
                                </div>
                                <div class="chapters__sub">
                                    <span>Бонусы:</span>
                                </div>
                                <div class="cabinet__bonuses">
                                    <div class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>Баланс:</span>
                                            <span>3 990 <span class="rubl">i</span></span>
                                        </div>
                                        <div class="product__detail-row product__detail-row--minus">
                                            <span>Расходы:</span>
                                            <span> -7 990 <span class="rubl">i</span></span>
                                        </div>
                                    </div>
                                    <div class="chapters__any">
                                        <span>Бонусами можно <a href="#">оплатить до 10%</a> <br> от суммы вашего заказа!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__item">
                                <div class="chapters__sub">
                                    <span>Скидки:</span>
                                </div>
                                <div class="cabinet__sales js-mobile-solo-slider overflow">
                                    <div class="cart__profile-item">
                                        <div class="cart__profile-name">
                                            <span>Промокод</span>
                                            <div class="cart__profile-del"></div>
                                        </div>
                                        <div class="cart__profile-img">
                                            <img src="images/r1.png" alt="">
                                        </div>
                                        <div class="cart__profile-bot">
                                            <div class="cart__profile-city">до 27 июня</div>
                                            <div class="cabinet__pricer">
                                                <div class="cart__profile-address">Товары для спорта</div>
                                                <div class="cabinet__price">-25%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart__profile-item">
                                        <div class="cart__profile-name">
                                            <span>Промокод</span>
                                            <div class="cart__profile-del"></div>
                                        </div>
                                        <div class="cart__profile-img">
                                            <img src="images/ship.png" alt="">
                                        </div>
                                        <div class="cart__profile-bot">
                                            <div class="cart__profile-city">до 24 июня</div>
                                            <div class="cabinet__pricer">
                                                <div class="cart__profile-address">На конструкторы</div>
                                                <div class="cabinet__price">-15%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart__profile-item">
                                        <div class="cart__profile-name">
                                            <span>Карта</span>
                                            <div class="cart__profile-del"></div>
                                        </div>
                                        <div class="cart__profile-img">
                                            <img src="images/crown.png" alt="">
                                        </div>
                                        <div class="cart__profile-bot">
                                            <div class="cart__profile-city">до 20 июня</div>
                                            <div class="cabinet__pricer">
                                                <div class="cart__profile-address">Постоянный покупатель</div>
                                                <div class="cabinet__price">-10%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cabinet__code">
                                    <div class="form__item form__item--pass">
                                        <div class="form__rub">
                                            <svg><use xlink:href="#ruble-ico"></use></svg>
                                        </div>
                                        <input type="text" class="button card-mask" placeholder="Добавить код">
                                        <span class="form__star">*</span>
                                    </div>
                                </div>
                            </div>
                            <form action="">
                                <div class="chapters__item chapters__item--nopads  bordertop">
                                    <div class="chapters__head">
                                        <h3>Покупатель</h3>
                                    </div>
                                    <div class="form">

                                        <div class="form__box">
                                            <div class="form__row">
                                                <div class="form__item">
                                                    <div class="form__title">Почта:</div>
                                                    <input type="text" required placeholder="Поле не заполнено" value="vik@ya.ru">
                                                    <span class="form__star">*</span>
                                                </div>
                                                <div class="form__item">
                                                    <div class="form__title">Телефон:</div>
                                                    <input type="tel" class="tel-mask" required placeholder="Поле не заполнено" value="+7 999 123 45 67">
                                                    <span class="form__star">*</span>
                                                </div>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__item">
                                                    <div class="form__title">Имя:</div>
                                                    <input type="text" required placeholder="Поле не заполнено" value="Виктор">
                                                    <span class="form__star">*</span>
                                                </div>
                                                <div class="form__item">
                                                    <div class="form__title">Фамилия:</div>
                                                    <input type="text" required placeholder="Поле не заполнено" value="Кожевников">
                                                    <span class="form__star">*</span>
                                                </div>
                                            </div>

                                            <div class="chapters__head cabinet__def">
                                                <h3>Защита</h3>
                                            </div>
                                            <div class="form__row">
                                                <div class="form__item">
                                                    <div class="form__title">Старый пароль:</div>
                                                    <input type="password" required placeholder="Поле не заполнено">
                                                    <span class="form__star">*</span>
                                                </div>
                                                <div class="form__item">
                                                    <div class="form__title">Новый пароль:</div>
                                                    <input type="password" required placeholder="Поле не заполнено">
                                                    <span class="form__star">*</span>
                                                </div>
                                            </div>
                                            <div class="chapters__any chapters__any--nomargin">
                                               <span> Для изменения пароля, вам<br>
                                                потребуется <a href="#">ввести существующий</a>!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chapters__item nopaddings">
                                    <div class="chapters__item">
                                        <div class="chapters__head margin-bot">
                                            <h3>Доставка</h3>
                                        </div>
                                        <!--<div class="chapters__sub">-->
                                            <!--<span>Профиль:</span>-->
                                        <!--</div>-->
                                        <!--<div class="cart__profile">-->
                                            <!--<div class="cart__profile-btn button js-select-profile">-->
                                                <!--<span>Дом</span>-->
                                                <!--<div class="button__icon">-->
                                                    <!--<svg><use xlink:href="#home-ico"></use></svg>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-box">-->
                                                <!--<div class="cart__profile-item selected">-->
                                                    <!--<div class="cart__profile-name">-->
                                                        <!--<span>Дом</span>-->
                                                        <!--<div class="cart__profile-del"></div>-->
                                                    <!--</div>-->
                                                    <!--<div class="cart__profile-img">-->
                                                        <!--<img src="images/profile-home.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="cart__profile-bot">-->
                                                        <!--<div class="cart__profile-city">Тула</div>-->
                                                        <!--<div class="cart__profile-address">Демонстрации 38, 16</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="cart__profile-item">-->
                                                    <!--<div class="cart__profile-name">-->
                                                        <!--<span>MSK</span>-->
                                                        <!--<div class="cart__profile-del"></div>-->
                                                    <!--</div>-->
                                                    <!--<div class="cart__profile-img">-->
                                                        <!--<img src="images/profile-m.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="cart__profile-bot">-->
                                                        <!--<div class="cart__profile-city">Москва</div>-->
                                                        <!--<div class="cart__profile-address">Литейзена 5, 23</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="cart__profile-item">-->
                                                    <!--<div class="cart__profile-name">-->
                                                        <!--<span>SPB</span>-->
                                                        <!--<div class="cart__profile-del"></div>-->
                                                    <!--</div>-->
                                                    <!--<div class="cart__profile-img">-->
                                                        <!--<img src="images/profile-s.png" alt="">-->
                                                    <!--</div>-->
                                                    <!--<div class="cart__profile-bot">-->
                                                        <!--<div class="cart__profile-city">Санкт-Петербург</div>-->
                                                        <!--<div class="cart__profile-address">пр. Энгелльса 22В, 9</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-btn button">-->
                                                <!--<span>Добавить</span>-->
                                                <!--<div class="button__icon">-->
                                                    <!--<svg><use xlink:href="#home-ico"></use></svg>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="product__selects">
                                            <div class="product__select">
                                                <div class="product__detail product__detail--required">Страна:</div>
                                                <div class="catalog__select">
                                                    <div class="jq-selectbox jqselect js-catalog-selector" style="display: inline-block; position: relative; z-index:100">
                                                        <select name="" id="" class="js-catalog-selector" style="margin: 0px; padding: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0;">
                                                            <option value="Россия">Россия</option>
                                                            <option value="Россия">Россия</option>
                                                            <option value="Россия">Россия</option>
                                                            <option value="Россия">Россия</option>
                                                            <option value="Россия">Россия</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product__select">
                                                <div class="product__detail product__detail--required">Город:</div>
                                                <div class="catalog__select">
                                                    <div class="jq-selectbox jqselect js-catalog-selector" style="display: inline-block; position: relative; z-index:100">
                                                        <select name="" id="" class="js-catalog-selector" style="margin: 0px; padding: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0;">
                                                            <option value="Москва">Москва</option>
                                                            <option value="Москва">Москва</option>
                                                            <option value="Москва">Москва</option>
                                                            <option value="Москва">Москва</option>
                                                            <option value="Москва">Москва</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form__row nopaddings">
                                            <div class="form__item">
                                                <div class="form__title">Улица:</div>
                                                <input type="text" required="" placeholder="Поле не заполнено" value="Демонстрации">
                                                <span class="form__star">*</span>
                                            </div>
                                            <div class="form__item">
                                                <div class="form__title">Дом:</div>
                                                <input type="text" required="" placeholder="Поле не заполнено" value="74">
                                                <span class="form__star">*</span>
                                            </div>
                                            <div class="form__item">
                                                <div class="form__title">Квартира:</div>
                                                <input type="text" required="" placeholder="Поле не заполнено" value="728">
                                                <span class="form__star">*</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chapters__item">
                                        <div class="chapters__head margin-bot">
                                            <h3>Рассылка</h3>
                                        </div>
                                        <div class="chapters__sub">
                                            <span>Ваши подписки:</span>
                                        </div>
                                        <div class="cabinet__sales js-mobile-solo-slider overflow">
                                            <div class="cart__profile-item">
                                                <div class="cart__profile-name">
                                                    <span>Акции</span>
                                                    <div class="cart__profile-del"></div>
                                                </div>
                                                <div class="cart__profile-img">
                                                    <img src="images/cabinet-salute.png" alt="">
                                                </div>
                                                <div class="cart__profile-bot">
                                                    <div class="cart__profile-city">Еженедельно</div>
                                                    <div class="cabinet__pricer">
                                                        <div class="cart__profile-address">Лучшие предложения</div>
                                                        <div class="cabinet__price">
                                                            <div class="stars">
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item active">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart__profile-item">
                                                <div class="cart__profile-name">
                                                    <span>Скидки</span>
                                                    <div class="cart__profile-del"></div>
                                                </div>
                                                <div class="cart__profile-img">
                                                    <img src="images/cabinet-bag.png" alt="">
                                                </div>
                                                <div class="cart__profile-bot">
                                                    <div class="cart__profile-city">Еженедельно</div>
                                                    <div class="cabinet__pricer">
                                                        <div class="cart__profile-address">Товары по выгодным ценам</div>
                                                        <div class="cabinet__price">
                                                            <div class="stars">
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item active">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chapters__item">
                                        <div class="chapters__sub">
                                            <span>Все подписки:</span>
                                        </div>
                                        <div class="cabinet__sales cabinet__sales--nodel">
                                            <div class="cart__profile-item">
                                                <div class="cart__profile-name">
                                                    <span>Новинки</span>
                                                    <div class="cart__profile-del"></div>
                                                </div>
                                                <div class="cart__profile-img">
                                                    <img src="images/cabinet-rocket.png" alt="">
                                                </div>
                                                <div class="cart__profile-bot">
                                                    <div class="cart__profile-city">Ежедневно</div>
                                                    <div class="cabinet__pricer">
                                                        <div class="cart__profile-address">Последние поступления</div>
                                                        <div class="cabinet__price">
                                                            <div class="stars">
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item active">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                                <div class="stars__item">
                                                                    <svg><use xlink:href="#star-pic"></use></svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cabinet__save">
                                        <button class="button"><span>Сохранить</span></button>
                                    </div>
                                    <div class="chapters__any mobile-display">
                                        <span>Отправляя персональные данные, вы даёте согласие с <a href="#">политикой конфиденциальности</a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="product__aside article__right">
                        <div class="article__sticker js-sticky-element--cart">
                            <div class="chapters__about">
                                <div class="chapters__author chapters__author--main">
                                    <div class="chapters__head">
                                        <h3>Покупатель</h3>
                                    </div>
                                </div>
                                <div class="chapters__hidden js-mobile-cabinet-slider js-cabinet-slider-nav overflow">
                                    <div class="chapters__sub">
                                        <span>профиль:</span>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>Активность:</span>
                                    </div>
                                </div>
                                 <div class="cabinet__slider">
                                     <div class="chapters__author chapters__author--short js-cabinet-slider js-mobile-cabinet-slider overflow">
                                         <div class="cabinet__slide">
                                             <div class="chapters__sub">
                                                 <span>профиль:</span>
                                             </div>
                                             <a href="#" class="goods__slide-wrap">
                                                 <div class="goods__slide">
                                                     <div>
                                                         <span>vik@ya.ru</span>
                                                         <h4>Виктор Гранкин</h4>
                                                     </div>
                                                     <div class="chapters__face">
                                                         <svg><use xlink:href="#profile"></use></svg>
                                                     </div>

                                                 </div>
                                             </a>
                                         </div>
                                         <div class="cabinet__slide">
                                             <div class="chapters__sub">
                                                 <span>Активность:</span>
                                             </div>
                                             <a href="#" class="goods__slide-wrap" data-transform="1">
                                                 <div class="goods__slide">
                                                     <div>
                                                         <span>Заказы:</span>
                                                         <h4>3 активных</h4>
                                                     </div>
                                                     <div class="chapters__face">
                                                         <svg><use xlink:href="#cube"></use></svg>
                                                     </div>
                                                 </div>
                                             </a>
                                         </div>
                                         <div class="cabinet__slide">
                                             <a href="#" class="goods__slide-wrap" data-transform="2">
                                                 <div class="goods__slide">
                                                     <div>
                                                         <span>Бонусы:</span>
                                                         <h4>5 680 бонусов</h4>
                                                     </div>
                                                     <div class="chapters__face chapters__face--rub">
                                                         <svg><use xlink:href="#ruble-ico"></use></svg>
                                                     </div>

                                                 </div>
                                             </a>
                                         </div>
                                         <div class="cabinet__slide">
                                             <a href="#" class="goods__slide-wrap" data-transform="3">
                                                 <div class="goods__slide">
                                                     <div>
                                                         <span>Скидка:</span>
                                                         <h4>10% по карте</h4>
                                                     </div>
                                                     <div class="chapters__face chapters__face--percent">
                                                         <svg><use xlink:href="#percent"></use></svg>
                                                     </div>

                                                 </div>
                                             </a>
                                         </div>
                                     </div>
                                 </div>
                            </div>
                            <div class="chapters__any">
                                <span>Отправляя персональные данные, вы даёте согласие с <a href="#">политикой конфиденциальности</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="watched">
                <div class="watched__wrap">
                    <div class="heading heading--linked">
                        <h2>Вы смотрели</h2>
                        <a href="#" class="link link--arrow">Все</a>
                    </div>
                    <div class="watched__slider">
                        <div class="slider">
                            <div class="slide__wrap overflow js-watched-slider">
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bear.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bag.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/ball.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/crab.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bear.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__banner">
                <a href="#" class="banner">
                    <div class="banner__wrap">
                        <div class="banner__text">
                            <div class="banner__sub"><span>Рекомендуем</span></div>
                            <div class="banner__main">
                                <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                            </div>
                            <div class="banner__pic">
                                <img src="images/vel.png" alt="">
                            </div>
                        </div>

                        <div class="banner__images">
                            <img src="images/velotip.png" alt="">
                            <div class="banner__cloud">
                                <img src="images/cloud.png" alt="">
                            </div>
                            <div class="banner__cloud banner__cloud--small">
                                <img src="images/cloud.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>