//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="product cart">
        <div class="mbox">
            <div class="product__title">
                <h1>Корзина</h1>
            </div>
            <div class="cart__wrap">
                <div class="product__col">
                    <div class="goods">
                        <div class="product__head">Товары</div>
                        <div class="goods__row">
                            <div class="product__detail">Фото:</div>
                            <div class="product__detail">Название:</div>
                            <div class="product__detail">Кол-во:</div>
                            <div class="product__detail">Цена:</div>
                            <div class="product__detail">Действия:</div>
                            <div class="product__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox" class="js-cart-check" id="js-cart-check">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/product/product-slide_01.jpg" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/bear.png" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Плюшевый медведь</a>
                                <a href="#" class="goods__brand">Teddy</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="3">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/ball.png" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Игрушка мягкая</a>
                                <a href="#" class="goods__brand">Hasbro</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    3 990 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/product/product-slide_01.jpg" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/bag.png" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/bear.png" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/ball.png" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/crab.png" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="goods__row js-goods-item">
                            <div class="goods__detail">
                                <a href="#" class="goods__img">
                                    <img src="images/product/product-slide_01.jpg" alt="">
                                </a>
                            </div>
                            <div class="goods__detail">
                                <a href="#" class="goods__name">Спасательный вертолет</a>
                                <a href="#" class="goods__brand">LEGO  TECHNICS</a>
                            </div>
                            <div class="goods__detail">
                                <div class="stuff-count stuff-count--cart">
                                    <button class="stuff-count__minus" onclick="stuffCount($(this), -1)"></button>
                                    <input class="stuff-count__much" type="text" value="1">
                                    <button class="stuff-count__plus" onclick="stuffCount($(this), 1);"></button>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__price">
                                    23 690 <span class="rubl">i</span>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="goods__favorites">
                                    <a href="#" class="product__favorites js-favorites">
                                        <svg><use xlink:href="#heart-ico"></use></svg>
                                    </a>
                                    <div class="goods__del"></div>
                                </div>
                            </div>
                            <div class="goods__detail">
                                <div class="cart__checkbox">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cart-order"></div>
                    <div class="cart__order active">
                        <div class="heading heading--main">
                            <h2>Оформление</h2>
                        </div>
                        <div class="product__box">
                            <div id="delivery-anchor" class="product__inner">
                                <div class="product__head">Доставка</div>
                                <!--<div class="product__detail">Профиль:</div>-->
                                <!--<div class="cart__profile">-->
                                    <!--<div class="cart__profile-btn button js-select-profile">-->
                                        <!--<span>Дом</span>-->
                                        <!--<div class="button__icon">-->
                                            <!--<svg><use xlink:href="#home-ico"></use></svg>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="cart__profile-box">-->
                                        <!--<div class="cart__profile-item selected">-->
                                            <!--<div class="cart__profile-name">-->
                                                <!--<span>Дом</span>-->
                                                <!--<div class="cart__profile-del"></div>-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-img">-->
                                                <!--<img src="images/profile-home.png" alt="">-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-bot">-->
                                                <!--<div class="cart__profile-city">Тула</div>-->
                                                <!--<div class="cart__profile-address">Демонстрации 38, 16</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="cart__profile-item">-->
                                            <!--<div class="cart__profile-name">-->
                                                <!--<span>MSK</span>-->
                                                <!--<div class="cart__profile-del"></div>-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-img">-->
                                                <!--<img src="images/profile-m.png" alt="">-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-bot">-->
                                                <!--<div class="cart__profile-city">Москва</div>-->
                                                <!--<div class="cart__profile-address">Литейзена 5, 23</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="cart__profile-item">-->
                                            <!--<div class="cart__profile-name">-->
                                                <!--<span>SPB</span>-->
                                                <!--<div class="cart__profile-del"></div>-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-img">-->
                                                <!--<img src="images/profile-s.png" alt="">-->
                                            <!--</div>-->
                                            <!--<div class="cart__profile-bot">-->
                                                <!--<div class="cart__profile-city">Санкт-Петербург</div>-->
                                                <!--<div class="cart__profile-address">пр. Энгелльса 22В, 9</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="cart__profile-btn button">-->
                                        <!--<span>Добавить</span>-->
                                        <!--<div class="button__icon">-->
                                            <!--<svg><use xlink:href="#home-ico"></use></svg>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="product__selects">
                                    <div class="product__select">
                                        <div class="product__detail product__detail--required">Страна:</div>
                                        <div class="catalog__select">
                                            <select name="" id="" class="js-catalog-selector">
                                                <option value="Россия">Россия</option>
                                                <option value="Россия">Россия</option>
                                                <option value="Россия">Россия</option>
                                                <option value="Россия">Россия</option>
                                                <option value="Россия">Россия</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="product__select">
                                        <div class="product__detail product__detail--required">Город:</div>
                                        <div class="catalog__select">
                                            <select name="" id="" class="js-catalog-selector">
                                                <option value="Москва">Москва</option>
                                                <option value="Москва">Москва</option>
                                                <option value="Москва">Москва</option>
                                                <option value="Москва">Москва</option>
                                                <option value="Москва">Москва</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__detail product__detail--required">Способ:</div>
                                <div class="cart__delivery js-delivery">
                                    <label for="delivery-1" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>Самовывоз</span>
                                            <input id="delivery-1" name="delivery" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>В магазинах</span>
                                            <span>0 <span class="rubl">i</span></span>
                                        </div>
                                    </label>
                                    <label for="delivery-2" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>Курьером</span>
                                            <input id="delivery-2" name="delivery" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>В течении дня</span>
                                            <span>199 <span class="rubl">i</span></span>
                                        </div>
                                    </label>
                                    <label for="delivery-3" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>Постомат</span>
                                            <input id="delivery-3" name="delivery" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>В течении 3-5 дней</span>
                                            <span>0 <span class="rubl">i</span></span>
                                        </div>
                                    </label>
                                    <label for="delivery-4" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>DHL</span>
                                            <input id="delivery-4" name="delivery" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>Завтра, 24 мая</span>
                                            <span>399 <span class="rubl">i</span></span>
                                        </div>
                                    </label>
                                    <label for="delivery-5" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>EMS</span>
                                            <input id="delivery-5" name="delivery" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>До 5 дней</span>
                                            <span>199 <span class="rubl">i</span></span>
                                        </div>
                                    </label>
                                </div>
                                <div class="product__detail product__detail--required">Забрать заказ:</div>
                                <div class="cart__profile-btn button js-select-market js-map-init">
                                    <span>Болдина, 91</span>
                                    <div class="button__icon button__icon--pointer">
                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                    </div>
                                </div>
                                <div class="form__row nopaddings">
                                    <div class="form__item">
                                        <div class="form__title">Улица:</div>
                                        <input type="text" required="" placeholder="Поле не заполнено">
                                        <span class="form__star">*</span>
                                    </div>
                                    <div class="form__item">
                                        <div class="form__title">Дом:</div>
                                        <input type="text" required="" placeholder="Поле не заполнено">
                                        <span class="form__star">*</span>
                                    </div>
                                    <div class="form__item">
                                        <div class="form__title">Квартира:</div>
                                        <input type="text" required="" placeholder="Поле не заполнено">
                                        <span class="form__star">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product__inner product__inner--map js-market-block">
                                <div class="product__head">Забрать заказ</div>
                                <div class="product__detail">Магазины:</div>
                                <div class="article__chapter">
                                    <div class="article__left">
                                        <div class="map__place">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                    <div class="article__right">
                                        <div class="chapters__about">
                                            <div class="chapters__author js-shops-mass">
                                                <div class="map__items">
                                                    <label for="market-1" class="map__shop js-map-shop" data-text="Новомосковское ш., 2">
                                                        <span>Новомосковское ш., 2</span>
                                                        <span class="map__input"><input id="market-1" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-2" class="map__shop js-map-shop" data-text="Болдина, 91">
                                                        <span>Болдина, 91</span>
                                                        <span class="map__input"><input id="market-2" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-3" class="map__shop js-map-shop" data-text="Мира, 9">
                                                        <span>Мира, 9</span>
                                                        <span class="map__input"><input id="market-3" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-4" class="map__shop js-map-shop" data-text="Болдина, 91а">
                                                        <span>Болдина, 91а</span>
                                                        <span class="map__input"><input id="market-4" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-5" class="map__shop js-map-shop" data-text="Одоевское ш., 73">
                                                        <span>Одоевское ш., 73</span>
                                                        <span class="map__input"><input id="market-5" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-6" class="map__shop js-map-shop" data-text="Ленина, 110">
                                                        <span>Ленина, 110</span>
                                                        <span class="map__input"><input id="market-6" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-7" class="map__shop js-map-shop" data-text="ТЦ «Утюг»">
                                                        <span>ТЦ «Утюг»</span>
                                                        <span class="map__input"><input id="market-7" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-8" class="map__shop js-map-shop" data-text="Болдина, 91б">
                                                        <span>Болдина, 91б</span>
                                                        <span class="map__input"><input id="market-8" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-9" class="map__shop js-map-shop" data-text="Демонстрации, 17А">
                                                        <span>Демонстрации, 17А</span>
                                                        <span class="map__input"><input id="market-9" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-10" class="map__shop js-map-shop" data-text="Рязанская, 7">
                                                        <span>Рязанская, 7</span>
                                                        <span class="map__input"><input id="market-10" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-11" class="map__shop js-map-shop" data-text="9 Мая, 31">
                                                        <span>9 Мая, 31</span>
                                                        <span class="map__input"><input id="market-11" type="radio" name="cart-market"></span>
                                                    </label>
                                                    <label for="market-12" class="map__shop js-map-shop" data-text="9 Мая, 31">
                                                        <span>9 Мая, 31</span>
                                                        <span class="map__input"><input id="market-12" type="radio" name="cart-market"></span>
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__inner">
                                <div class="product__head">Получатель</div>
                                <div class="product__selects">
                                    <div class="product__select">
                                        <div class="product__detail product__detail--required">Почта:</div>
                                        <input type="text">
                                    </div>
                                    <div class="product__select">
                                        <div class="product__detail product__detail--required">Телефон:</div>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="product__selects">
                                    <div class="product__select">
                                        <div class="product__detail product__detail--required">Имя:</div>
                                        <input type="text">
                                    </div>
                                    <div class="product__select">
                                        <div class="product__detail product__detail--required">Фамилия:</div>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div id="payment-anchor" class="product__inner">
                                <div class="product__head">Оплата</div>
                                <div class="product__detail">Способ:</div>
                                <div class="cart__delivery js-payment">
                                    <label for="payment-1" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>Картой</span>
                                            <input id="payment-1" name="payment" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>Visa, Mastercard</span>
                                            <span>
                                                <svg class="visa-ico"><use xlink:href="#visa"></use></svg>
                                                <svg class="mastercart-ico"><use xlink:href="#mastercard"></use></svg>
                                            </span>
                                        </div>
                                    </label>
                                    <label for="payment-2" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>При получении</span>
                                            <input id="payment-2" name="payment" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>Наличными, картой</span>
                                            <span></span>
                                        </div>
                                    </label>
                                    <label for="payment-3" class="product__detail-box">
                                        <div class="product__detail-row">
                                            <span>Онлайн</span>
                                            <input id="payment-3" name="payment" type="radio">
                                        </div>
                                        <div class="product__detail-row">
                                            <span>PayPal</span>
                                            <span>
                                                <svg><use xlink:href="#paypal"></use></svg>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__aside article__right">
                    <div class="chapters__about js-sticky-element--cart">
                        <div class="chapters__author">
                            <div class="chapters__head">
                                <h3>Итого</h3>
                            </div>
                            <div class="cart__selected">
                                <div class="chapters__sub">
                                    <span>Выбрано:</span>
                                </div>
                                <div>
                                    <a class="button button--red js-favorite-all" href="#">В избранное</a>
                                </div>
                                <div class="cart__btn">
                                    <a class="button js-delete-all" href="#">Удалить</a>
                                </div>
                            </div>
                            <div class="chapters__sub">
                                <span>Товары:</span>
                            </div>
                            <div class="product__detail-box">
                                <div class="product__detail-row">
                                    <span>Кол-во:</span>
                                    <span>12</span>
                                </div>
                                <div class="product__detail-row">
                                    <span>Вес:</span>
                                    <span>920 гр.</span>
                                </div>
                                <div class="product__detail-row">
                                    <span>Стоимость:</span>
                                    <span>7 690 <span class="rubl">i</span></span>
                                </div>
                            </div>
                            <div class="chapters__sub">
                                <span>Доставка:</span>
                            </div>
                            <div class="product__detail-box">
                                <a href="#delivery-anchor" class="product__detail-row anchor">
                                    <span>Курьером:</span>
                                    <span>690 <span class="rubl">i</span></span>
                                </a>
                            </div>
                            <div class="chapters__sub">
                                <span>Оплата:</span>
                            </div>
                            <div class="product__detail-box">
                                <a href="#payment-anchor" class="product__detail-row anchor">
                                    <span>Картой:</span>
                                    <span>
                                        <svg class="visa-ico"><use xlink:href="#visa"></use></svg>
                                        <svg class="mastercart-ico"><use xlink:href="#mastercard"></use></svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="chapters__author">
                            <div class="chapters__sub">
                                <span>Бонусы:</span>
                            </div>
                            <div class="product__detail-box">
                                <div class="product__detail-row">
                                    <span>Баланс:</span>
                                    <span>3 990 <span class="rubl">i</span></span>
                                </div>
                                <div class="product__detail-row product__detail-row--red">
                                    <span>Оплачено:</span>
                                    <span>- 690 <span class="rubl">i</span></span>
                                </div>
                            </div>
                            <div class="chapters__any">
                                <span>Бонусами можно <span class="red">оплатить до 10%</span> от суммы вашего заказа!</span>
                            </div>
                            <div class="chapters__sub">
                                <span>Бонусы:</span>
                            </div>
                            <div class="product__detail-box">
                                <div class="product__detail-row">
                                    <span>Баланс:</span>
                                    <span>3 990 <span class="rubl">i</span></span>
                                </div>
                            </div>
                            <div class="product__btn">
                                <a class="button button--red" href="#">Оплатить  <span>169</span> <span class="rubl">i</span> бонусами</a>
                            </div>
                            <div class="chapters__any">
                                <span>Бонусами можно <span class="red">оплатить до 10%</span> от суммы вашего заказа!</span>
                            </div>
                            <div class="chapters__sub">
                                <span>Бонусы:</span>
                            </div>
                            <div class="product__detail-box">
                                <div class="product__detail-row">
                                    <span>Баланс:</span>
                                    <span>190 <span class="rubl">i</span></span>
                                </div>
                            </div>
                            <div class="product__btn">
                                <a class="button button--disabled" href="#">Не хватает бонусов</a>
                            </div>
                            <div class="chapters__any">
                                <span>Для оплаты части заказа, ваш баланс должен быть больше <span class="red">690 <span class="rubl">i</span></span></span>
                            </div>
                        </div>
                        <div class="chapters__author">
                            <div class="chapters__head">
                                <h3>6 399 <span class="rubl">i</span></h3>
                            </div>
                            <div class="product__btn">
                                <a class="button button--red js-cart-order anchor" href="#cart-order">Перейти к оформлению</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="watched">
                <div class="watched__wrap">
                    <div class="heading heading--linked">
                        <h2>Вы смотрели</h2>
                        <a href="#" class="link link--arrow">Все</a>
                    </div>
                    <div class="watched__slider">
                        <div class="slider">
                            <div class="slide__wrap overflow js-watched-slider">
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bear.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bag.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/ball.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/crab.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bear.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__banner">
                <a href="#" class="banner">
                    <div class="banner__wrap">
                        <div class="banner__text">
                            <div class="banner__sub"><span>Рекомендуем</span></div>
                            <div class="banner__main">
                                <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                            </div>
                            <div class="banner__pic">
                                <img src="images/vel.png" alt="">
                            </div>
                        </div>

                        <div class="banner__images">
                            <img src="images/velotip.png" alt="">
                            <div class="banner__cloud">
                                <img src="images/cloud.png" alt="">
                            </div>
                            <div class="banner__cloud banner__cloud--small">
                                <img src="images/cloud.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=489ce515-0a6b-4c1f-b848-d6b5c6ed61fe" type="text/javascript"></script>
    <script>
        $('.js-map-init').on('click', function () {
            if ($('#map').is(':empty')) {
                console.log('1');
                var partners_objects = [];
                setTimeout(function () {
                    console.log('init');
                    ymaps.ready(function () {
                        var myMap = new ymaps.Map('map', {
                            center: [55.751574, 37.573856],
                            zoom: 9,
                            controls: []
                        }, {
                            searchControlProvider: 'yandex#search'
                        });

                        myMap.controls.add('zoomControl', {
                            size: "small",
                            float: 'none',
                            position: {
                                bottom: '50px',
                                right: '30px'
                            }
                        });
                        myMap.controls.add('fullscreenControl', {
                            float: 'none',
                            position: {
                                top: '50px',
                                right: '30px'
                            }
                        });


                        partners_objects[0] = new ymaps.Placemark([55.651574, 37.573856], {
                            name: 'Новомосковское ш., 2',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'images/map-pin.svg',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[1] = new ymaps.Placemark([55.851574, 37.573856], {
                            name: 'Болдина, 91',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'images/map-pin.svg',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[2] = new ymaps.Placemark([55.751574, 37.673856], {
                            name: 'Мира, 9',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'images/map-pin.svg',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[3] = new ymaps.Placemark([55.751574, 37.773856], {
                            name: 'Болдина, 91а',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'images/map-pin.svg',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[4] = new ymaps.Placemark([55.791574, 37.773856], {
                            name: 'Одоевское ш., 73',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[5] = new ymaps.Placemark([55.771574, 37.753856], {
                            name: 'Ленина, 110',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[6] = new ymaps.Placemark([54.771574, 36.753856], {
                            name: 'ТЦ «Утюг»',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[7] = new ymaps.Placemark([56.771574, 36.953856], {
                            name: 'Болдина, 91б',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[8] = new ymaps.Placemark([55.771574, 37.953856], {
                            name: 'Демонстрации, 17А',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[9] = new ymaps.Placemark([55.871574, 37.753856], {
                            name: 'Рязанская, 7',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });
                        partners_objects[10] = new ymaps.Placemark([55.971574, 37.653856], {
                            name: '9 Мая, 31',
                            hintContent: 'Игрушки'
                        }, {
                            iconLayout: 'default#image',
                            iconImageHref: 'img/map-point.png',
                            iconImageSize: [33, 40],
                            iconImageOffset: [-16, -38]
                        });

                        for (var i = 0; i < partners_objects.length; i++) {
                            var other = partners_objects[i];
                            other.options.set('iconImageHref', 'images/map-pin.svg');
                            myMap.geoObjects.add(partners_objects[i]);
                            partners_objects[i].events
                                .add('click', function (e) {
                                    e.stopPropagation();
                                    for (var k = 0; k < partners_objects.length; k++) {
                                        var pointer = partners_objects[k];
                                        pointer.options.set({ iconImageHref: 'images/map-pin.svg'});

                                    }

                                    $('.js-map-shop').removeClass('active');
                                    $('.js-map-shop').each(function () {
                                        if (e.originalEvent.target.properties._data.name === $(this).attr('data-text')) {
                                            // $(this).addClass('active');
                                            $(this).click();
                                        }
                                    });

                                    console.log(e.originalEvent.target.properties._data.name);
                                    e.get('target').options.set('iconImageHref', 'images/map-pin-red.svg');
                                    myMap.setCenter(e.originalEvent.target.geometry._coordinates, 11, {
                                        checkZoomRange: true
                                    });
                                })
                        }


                        myMap.behaviors.disable('scrollZoom');

                        $('.js-map-shop').click(function (e) {
                            $('.js-map-shop').removeClass('active');
                            var data_txt = $(this).attr('data-text');
                            for (var i = 0; i < partners_objects.length; i++) {
                                var obj = partners_objects[i];
                                obj.options.set({ iconImageHref: 'images/map-pin.svg'});
                                if (obj.properties._data.name === data_txt) {
                                    console.log();
//                    obj.options._options.iconImageHref = 'img/map-point-blue.png';
                                    obj.options.set({
                                        iconImageHref: 'images/map-pin-red.svg'
                                    });
                                    myMap.setCenter(obj.geometry._coordinates, 11, {
                                        checkZoomRange: true
                                    });
                                    $(this).addClass('active');
                                }
                            }
                        });
                    });
                }, 100);
            }

        });


    </script>
</div>
</body>
</html>