//= parts/head.html
//= parts/mobile-menu.html
//= parts/nav.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="catalog">
        <div class="mbox">
            <div class="heading">
                <h2>Конструкторы</h2>
            </div>
            //= parts/breadcrumbs.html
            <div class="goods__slider js-watched-slider overflow">
                    <a href="#" class="goods__slide-wrap">
                        <div class="goods__slide">
                            <div>
                                <h4>Товары для школы</h4>
                                <span>Выгода</span>
                            </div>
                            <img src="images/microscope.png" alt="">
                        </div>
                    </a>
                    <a href="#" class="goods__slide-wrap">
                        <div class="goods__slide">
                            <div>
                                <h4>Конструкторы</h4>
                                <span>Качество в деталях</span>
                            </div>
                            <img src="images/castle.png" alt="">
                        </div>
                    </a>
                    <a href="#" class="goods__slide-wrap">
                        <div class="goods__slide">
                            <div>
                                <h4>На природу</h4>
                                <span>Отдыхайте с пользой</span>
                            </div>
                            <img src="images/tennis.png" alt="">
                        </div>
                    </a>
                    <a href="#" class="goods__slide-wrap">
                        <div class="goods__slide">
                            <div>
                                <h4>Мягкие игрушки</h4>
                                <span>Для детей</span>
                            </div>
                            <img src="images/lion.png" alt="">
                        </div>
                    </a>
                    <a href="#" class="goods__slide-wrap">
                        <div class="goods__slide">
                            <div>
                                <h4>Товары для школы</h4>
                                <span>Выгода</span>
                            </div>
                            <img src="images/microscope.png" alt="">
                        </div>
                    </a>
                </div>
        </div>
        <div class="catalog__wrapper">
            <div class="mbox">
                <div class="catalog__wrap">
                    <div class="catalog__left">
                        <div class="overlay"></div>
                        <button class="catalog__clicker js-catalog-clicker button button--imaged"><span>Фильтр</span></button>
                        <div class="filters js-filters" id="catalog_filter">
                            <div class="filters__box" id="filter_box">
                                <div class="filters__wrap">
                                    <div class="hider">
                                        <div class="hider__head active"><span>Категории:</span></div>
                                        <div class="hider__body active">
                                            <div class="filters__checks">
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i> <span>Скидка</span>
                                                </label>
                                                <label class="styled">

                                                    <input type="checkbox"> <i></i><span>Хит продаж</span>
                                                </label>
                                                <label class="styled">

                                                    <input type="checkbox"> <i></i><span>Акция</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hider">
                                        <div class="hider__head active"><span>Цена:</span></div>
                                        <div class="hider__body active">
                                            <div class="hider__pricer">
                                                <div class="js-slide-price ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="0" data-max="900000" data-values="[0, 900000]"><div class="ui-slider-range ui-corner-all ui-widget-header" style=""></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span></div>
                                            </div>
                                            <div class="hider__row">
                                                <div class="hider__input">
                                                    <input type="text" class="js-lower-price" value="" placeholder="0">
                                                    <div class="hider__rub"><span class="rubl">i</span></div>
                                                </div>
                                                <div class="hider__input">
                                                    <input type="text" class="js-higher-price" value="900000" placeholder="900000">
                                                    <div class="hider__rub"><span class="rubl">i</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hider">
                                        <div class="hider__head active"><span>Пол:</span></div>
                                        <div class="hider__body active">
                                            <div class="filters__checks filters__checks--sq">
                                                <label class="styled styled--sq">
                                                    <input type="radio" name="pol"><span>Девочки</span>
                                                </label>
                                                <label class="styled styled--sq">
                                                    <input type="radio" name="pol"><span>Мальчики</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hider">
                                        <div class="hider__head active"><span>Возраст:</span></div>
                                        <div class="hider__body active">
                                            <div class="filters__checks filters__checks--sq">
                                                <label class="styled styled--sq">
                                                    <input type="radio" name="ages"><span>до 3 лет</span>
                                                </label>
                                                <label class="styled styled--sq">
                                                    <input type="radio" name="ages"><span>4-5 лет</span>
                                                </label>
                                                <label class="styled styled--sq">
                                                    <input type="radio" name="ages"><span>6-8 лет</span>
                                                </label>
                                                <label class="styled styled--sq">
                                                    <input type="radio" name="ages"><span>9-11 лет</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hider">
                                        <div class="hider__head active"><span>Бренд:</span></div>
                                        <div class="hider__body active">
                                            <div class="filters__checks">
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i> <span>Lego</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Bandai Namco</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Fisher-Price</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Barbie</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Nerf</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Hasbro</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Hot Wheels</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>My Little Pony</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>My Little Pony</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Fisher-Price</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Barbie</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Nerf</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Hasbro</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>Hot Wheels</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>My Little Pony</span>
                                                </label>
                                                <label class="styled">
                                                    <input type="checkbox"> <i></i><span>My Little Pony</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filters__func">
                                        <button class="filters__show filters__show--red"><span>178 товаров</span></button>
                                        <button class="filters__show button"><span>Очистить всё</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__right">
                        <div class="catalog__navigator">
                            <div class="catalog__select">
                                <select name="" id="" class="js-catalog-selector">
                                    <option value="Новинки">Новинки</option>
                                    <option value="Популярные">Популярные</option>
                                    <option value="Сначала дорогие">Сначала дорогие</option>
                                    <option value="Сначала дешевые">Сначала дешевые</option>
                                    <option value="По отзывам">По отзывам</option>
                                </select>
                            </div>
                            <div class="catalog__display">
                                <div class="catalog__show">
                                    <span>Отображать по:</span>
                                </div>
                                <div class="paginator">
                                    <ul>
                                        <li><a href="#" class="paginator__page active">15</a></li>
                                        <li><a href="#" class="paginator__page ">30</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__items">
                            <div class="slider">
                                <div class="slide__wrap">
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bag.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/ball.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/crab.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bag.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/ball.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/crab.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="button"><span>Показать еще</span></button>
                        <div class="catalog__pages">
                            //= parts/paginator.html
                        </div>
                    </div>
                </div>
                <div class="news__banner">
                    <a href="#" class="banner">
                        <div class="banner__wrap">
                            <div class="banner__text">
                                <div class="banner__sub"><span>Рекомендуем</span></div>
                                <div class="banner__main">
                                    <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                                </div>
                                <div class="banner__pic">
                                    <img src="images/vel.png" alt="">
                                </div>
                            </div>

                            <div class="banner__images">
                                <img src="images/velotip.png" alt="">
                                <div class="banner__cloud">
                                    <img src="images/cloud.png" alt="">
                                </div>
                                <div class="banner__cloud banner__cloud--small">
                                    <img src="images/cloud.png" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
    <script>
        $( function() {
            console.log('ok');
            var item = $('.js-slide-price');
            if (item.length > 0) {
                item.slider({
                    range: true,
                    min: item.data('min')===undefined ? 0 : parseInt(item.data('min')),
                    max: item.data('max')===undefined ? 500 : parseInt(item.data('max')),
                    values: item.data('values')===undefined ? [item.data('min'), item.data('max')] : item.data('values'),
                    slide: function( event, ui ) {
                        console.log(ui);
                        $('.js-lower-price').val(ui.values[ 0 ]);
                        $('.js-higher-price').val(ui.values[ 1 ]);
                    },
                    change: function( event, ui ) {
                        console.log('changed')

                    }
                });
            }
        });
    </script>
</div>
</body>
</html>