//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="mbox">
            <ul>
                <li><a href="main.html">main</a></li>
                <li><a href="news.html">Новости</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="brands.html">Бренды</a></li>
                <li><a href="article.html">Статья</a></li>
                <li><a href="product.html">Продукт</a></li>
                <li><a href="map.html">Карта</a></li>
                <li><a href="cart.html">Корзина</a></li>
                <li><a href="cart-empty.html">Корзина-пустая</a></li>
                <li><a href="cabinet.html">Кабинет</a></li>
            </ul>
            <br>
            <hr>
            <h2>Popups</h2>
            <ul>
                <li><a href="#authorization" class="js-show-authorize-form">Authorization</a></li>
                <li><a href="#registration" data-fancybox>Registration</a></li>
                <li><a href="#nav" data-fancybox>Categories</a></li>
            </ul>


            <br>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
    <style>
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>