//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="mbox">
            <div class="goods__slider js-watched-slider overflow">
                <a href="#" class="goods__slide-wrap">
                    <div class="goods__slide">
                        <div>
                            <h4>Товары для школы</h4>
                            <span>Выгода</span>
                        </div>
                        <img src="images/microscope.png" alt="">
                    </div>
                </a>
                <a href="#" class="goods__slide-wrap">
                    <div class="goods__slide">
                        <div>
                            <h4>Конструкторы</h4>
                            <span>Качество в деталях</span>
                        </div>
                        <img src="images/castle.png" alt="">
                    </div>
                </a>
                <a href="#" class="goods__slide-wrap">
                    <div class="goods__slide">
                        <div>
                            <h4>На природу</h4>
                            <span>Отдыхайте с пользой</span>
                        </div>
                        <img src="images/tennis.png" alt="">
                    </div>
                </a>
                <a href="#" class="goods__slide-wrap">
                    <div class="goods__slide">
                        <div>
                            <h4>Мягкие игрушки</h4>
                            <span>Для детей</span>
                        </div>
                        <img src="images/lion.png" alt="">
                    </div>
                </a>
                <a href="#" class="goods__slide-wrap">
                    <div class="goods__slide">
                        <div>
                            <h4>Товары для школы</h4>
                            <span>Выгода</span>
                        </div>
                        <img src="images/microscope.png" alt="">
                    </div>
                </a>
            </div>
            <div class="heading heading--main">
                <h2>Для вас</h2>
            </div>
            <div class="js-solo-slider main__banner">
                <div class="solo__banner">
                    <a href="#" class="banner">
                        <div class="banner__color banner__color--blue">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Акция</span></div>
                                <div class="banner__title">
                                    <span>Глобальная распродажа игрушек для самых маленьких, скидки до 50% </span>
                                </div>
                                <div class="banner__sub">
                                    <span>до 9 октября</span>
                                </div>
                            </div>
                            <div class="banner__img">
                                <img src="images/main-banner.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solo__banner">
                    <a href="#" class="banner">
                        <div class="banner__color banner__color--blue">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Акция</span></div>
                                <div class="banner__title">
                                    <span>Глобальная распродажа игрушек для самых маленьких, скидки до 50% </span>
                                </div>
                                <div class="banner__sub">
                                    <span>до 9 октября</span>
                                </div>
                            </div>
                            <div class="banner__img">
                                <img src="images/main-banner.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solo__banner">
                    <a href="#" class="banner">
                        <div class="banner__color banner__color--blue">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Акция</span></div>
                                <div class="banner__title">
                                    <span>Глобальная распродажа игрушек для самых маленьких, скидки до 50% </span>
                                </div>
                                <div class="banner__sub">
                                    <span>до 9 октября</span>
                                </div>
                            </div>
                            <div class="banner__img">
                                <img src="images/main-banner.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="js-watched-slider banner__small-slider overflow">
                <a href="#" class="banner__small">
                    <img src="images/main-img_01.jpg" alt="">
                    <div class="banner__small-action">Акция</div>
                    <div class="banner__small-box">
                        <div class="banner__small-title">Игрушки</div>
                        <div class="banner__small-desc">Распродажа: скидки до 90% на товары к отпуску!</div>
                    </div>
                </a>
                <a href="#" class="banner__small">
                    <img src="images/main-img_02.jpg" alt="">
                    <div class="banner__small-action">Скоро</div>
                    <div class="banner__small-box">
                        <div class="banner__small-title">На лето</div>
                        <div class="banner__small-desc">Распродажа: скидки до 90% на товары к отпуску!</div>
                    </div>
                </a>
                <a href="#" class="banner__small">
                    <img src="images/main-img_03.jpg" alt="">
                    <div class="banner__small-action">Акция</div>
                    <div class="banner__small-box">
                        <div class="banner__small-title">До 3х лет</div>
                        <div class="banner__small-desc">Распродажа: скидки до 90% на товары к отпуску!</div>
                    </div>
                </a>
                <a href="#" class="banner__small">
                    <img src="images/main-img_04.jpg" alt="">
                    <div class="banner__small-action">Рекомендуем</div>
                    <div class="banner__small-box">
                        <div class="banner__small-title">Велосипеды</div>
                        <div class="banner__small-desc">Самый большой ассортимент велосипедов от лучших брендов</div>
                    </div>
                </a>
                <a href="#" class="banner__small">
                    <img src="images/main-img_02.jpg" alt="">
                    <div class="banner__small-action">Скоро</div>
                    <div class="banner__small-box">
                        <div class="banner__small-title">На лето</div>
                        <div class="banner__small-desc">Распродажа: скидки до 90% на товары к отпуску!</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Категории</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="categories__slider overflow">
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/tennis.png" alt="">
                    </span>
                    <h4 class="categories__name">Спорт и отдых</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/castle.png" alt="">
                    </span>
                    <h4 class="categories__name">Конструкторы</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/bag.png" alt="">
                    </span>
                    <h4 class="categories__name">Сумки, рюкзаки</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/milk.png" alt="">
                    </span>
                    <h4 class="categories__name">Для малышей</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/salute.png" alt="">
                    </span>
                    <h4 class="categories__name">Для праздника</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/stationery.png" alt="">
                    </span>
                    <h4 class="categories__name">Канцтовары</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/car.png" alt="">
                    </span>
                    <h4 class="categories__name">Игрушки</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/bed.png" alt="">
                    </span>
                    <h4 class="categories__name">Для детской</h4>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/categories/tennis.png" alt="">
                    </span>
                    <h4 class="categories__name">Спорт и отдых</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="bestsellers">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Бестселлеры</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="watched__slider">
                <div class="slider">
                    <div class="slide__wrap overflow js-watched-slider">
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bag.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/ball.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/crab.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="season-goods">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Сезонные товары</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="watched__slider">
                <div class="slider">
                    <div class="slide__wrap overflow js-watched-slider">
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bag.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/ball.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/crab.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span>Лето 2019</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-solo-slider main__banner">
                <div class="solo__banner">
                    <a href="#" class="banner">
                        <div class="banner__color banner__color--orange">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Акция</span></div>
                                <div class="banner__title">
                                    <span>Лучшие предложения выходного дня на конструкторы для малышей</span>
                                </div>
                                <div class="banner__sub">
                                    <span>до 9 октября</span>
                                </div>
                            </div>
                            <div class="banner__img banner__img--orange">
                                <img src="images/main-banner_2.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solo__banner">
                    <a href="#" class="banner">
                        <div class="banner__color banner__color--orange">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Акция</span></div>
                                <div class="banner__title">
                                    <span>Лучшие предложения выходного дня на конструкторы для малышей</span>
                                </div>
                                <div class="banner__sub">
                                    <span>до 9 октября</span>
                                </div>
                            </div>
                            <div class="banner__img banner__img--orange">
                                <img src="images/main-banner_2.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solo__banner">
                    <a href="#" class="banner">
                        <div class="banner__color banner__color--orange">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Акция</span></div>
                                <div class="banner__title">
                                    <span>Лучшие предложения выходного дня на конструкторы для малышей</span>
                                </div>
                                <div class="banner__sub">
                                    <span>до 9 октября</span>
                                </div>
                            </div>
                            <div class="banner__img banner__img--orange">
                                <img src="images/main-banner_2.png" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="stock">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Товары по акции</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="watched__slider">
                <div class="slider">
                    <div class="slide__wrap overflow js-watched-slider">
                        <div class="slide-wrap slide-wrap--orange">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__status">Акция</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--orange">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__sale">- 75%</span>
                                        <span class="slide__status">Акция</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bag.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--orange">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span class="slide__status">Акция</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/ball.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--orange">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span class="slide__status">Акция</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/crab.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--orange">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date"><span class="slide__status">Акция</span></div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="bestprice">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Лучшая цена</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="watched__slider">
                <div class="slider">
                    <div class="slide__wrap overflow js-watched-slider">
                        <div class="slide-wrap slide-wrap--green">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__status">Акция</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--green">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__benefit">Выгода</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bag.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--green">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__benefit">Выгода</span>
                                        <span class="slide__status">Акция</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/ball.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--green">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__benefit">Выгода</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/crab.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-wrap slide-wrap--green">
                            <div class="slide">
                                <div class="slide__heart">
                                    <svg>
                                        <use xlink:href="#heart-ico"></use>
                                    </svg>
                                </div>
                                <div class="slide__content">
                                    <div class="slide__date">
                                        <span class="slide__benefit">Выгода</span>
                                    </div>
                                    <a href="#" class="slide__img">
                                        <img src="images/bear.png" alt="">
                                    </a>
                                    <div class="slide__stars">
                                        <div class="stars">
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item active">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                            <div class="stars__item">
                                                <svg>
                                                    <use xlink:href="#star-pic"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="slide__name">
                                        <span>Плюшевый медведь Teddy</span>
                                    </a>
                                    <div class="slide__price">
                                        <span>780 <span class="rubl">i</span></span>
                                    </div>
                                    <div class="slide__button">
                                        <button class="button button--cart">
                                            <svg>
                                                <use xlink:href="#basket-ico"></use>
                                            </svg>
                                            <span>В корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="js-solo-slider main__banner">
                <div class="solo__banner">
                    <div class="banner">
                        <div class="banner__color banner__color--green">
                            <div class="banner__desc">
                                <div class="banner__sub"><span>Подписка</span></div>
                                <div class="banner__title">
                                    <span>Подпишитесь на рыссылку
и получите 300 бонусов на покупки!</span>
                                </div>
                                <div class="banner__sub">
                                    <form class="subscribe__form">
                                        <input type="email" placeholder="Почта">
                                        <button></button>
                                    </form>
                                </div>
                            </div>
                            <div class="banner__img">
                                <div class="banner__dove">
                                    <img src="images/dove.png" alt="">
                                </div>
                                <div class="banner__dove--small">
                                    <img src="images/dove.png" alt="">
                                </div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                                <div class="banner__mail"><img src="images/mail.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-news">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Новости</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="main-news__slider overflow js-watched-slider">
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Что нужно взять <br> в отпуск с малышом?</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids2.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Чем занять ребенка<br>на каникулах?</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids3.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Готовим вместе<br>с ребенком</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids4.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Чем занять ребенка<br>в выходной?</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids5.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Развивающие<br>игры для детей</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids6.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Для активного<br>отдыха на природе</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids7.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Творческие встречи<br>в наших магазинах</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="news__item">
                    <div class="news__image">
                        <img src="images/kids8.png" alt="">
                    </div>
                    <div class="news__text">
                        <div class="news__date">
                            <span>21 августа</span>
                        </div>
                        <div class="news__short">
                            <span>Для юных<br>исследователей</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="main-brands">
        <div class="mbox">
            <div class="heading heading--linked heading--main">
                <h2>Бренды</h2>
                <a href="#" class="link link--arrow">Все</a>
            </div>
            <div class="categories__blocks js-mobile-slider overflow">
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/Bitmap_lego.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/mattel.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/barbie.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/masha.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/play.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/pony.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/monster.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/disnep.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/paw.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/wmx.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/furby.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/nerf.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/hasbo.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/bandai.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/fisher.png" alt="">
                    </span>
                </a>
                <a href="#" class="categories__slide">
                    <span class="categories__img">
                        <img src="images/brands/hotwheels.png" alt="">
                    </span>
                </a>
            </div>
            <div class="news__banner">
                <a href="#" class="banner">
                    <div class="banner__wrap">
                        <div class="banner__text">
                            <div class="banner__sub"><span>Рекомендуем</span></div>
                            <div class="banner__main">
                                <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                            </div>
                            <div class="banner__pic">
                                <img src="images/vel.png" alt="">
                            </div>
                        </div>

                        <div class="banner__images">
                            <img src="images/velotip.png" alt="">
                            <div class="banner__cloud">
                                <img src="images/cloud.png" alt="">
                            </div>
                            <div class="banner__cloud banner__cloud--small">
                                <img src="images/cloud.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>