//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="map">
        <div class="mbox">
            <div class="map__wrap">
                <div class="heading">
                    <h2>Магазины</h2>
                </div>
                //= parts/breadcrumbs.html
            </div>
            <div class="article__chapter">
                <div class="article__left">
                    <div class="map__place">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="article__right">
                    <div class="chapters__about">
                        <div class="chapters__author js-shops-mass">
                            <div class="chapters__head">
                                <h3>Игрушка КЭШ</h3>
                            </div>
                            <div class="chapters__sub">
                                <span>Магазины:</span>
                            </div>
                            <div class="map__items">
                                <a href="#" class="map__shop js-map-shop" data-text="Новомосковское ш., 2"> <span>Новомосковское ш., 2</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Болдина, 91"> <span>Болдина, 91</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Мира, 9"> <span>Мира, 9</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Болдина, 91а"> <span>Болдина, 91а</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Одоевское ш., 73"> <span>Одоевское ш., 73</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Ленина, 110"> <span>Ленина, 110</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="ТЦ «Утюг»"> <span>ТЦ «Утюг»</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Болдина, 91б"> <span>Болдина, 91б</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Демонстрации, 17А"> <span>Демонстрации, 17А</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="Рязанская, 7"> <span>Рязанская, 7</span> </a>
                                <a href="#" class="map__shop js-map-shop" data-text="9 Мая, 31"> <span>9 Мая, 31</span> </a>
                            </div>
                        </div>
                        <div class="chapters__mass">
                            <div class="chapters__details" data-detail="Новомосковское ш., 2">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Новомосковское ш., 2</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Болдина, 91">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Болдина, 91</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Мира, 9">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Мира, 9</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Болдина, 91а">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Болдина, 91а</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Одоевское ш., 73">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Одоевское ш., 73</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Ленина, 110">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Ленина, 110</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="ТЦ «Утюг»">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>ТЦ «Утюг»</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Болдина, 91б">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Болдина, 91б</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Демонстрации, 17А">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Демонстрации, 17А</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="Рязанская, 7">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>Рязанская, 7</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chapters__details" data-detail="9 Мая, 31">
                                <div class="chapters__author">
                                    <div class="chapters__head">
                                        <h3>9 Мая, 31</h3>
                                        <button class="chapters__close js-detail-close">
                                            <svg><use xlink:href="#cross"></use></svg>
                                        </button>
                                    </div>
                                    <div class="chapters__sub">
                                        <span>ГРАФИК:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Без выходных</span>
                                                <h4>с 10:00 до 20:00</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#clock"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Контакты:</span>
                                    </div>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Маркетолог</span>
                                                <h4>+7 999 876 54 32</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#phone"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Почта:</span>
                                                <h4>hello@igrushka.ru</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#convert"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="goods__slide-wrap">
                                        <div class="goods__slide">
                                            <div>
                                                <span>Адрес:</span>
                                                <h4>Демонстрации, 17А</h4>
                                            </div>
                                            <div class="chapters__face">
                                                <svg><use xlink:href="#pointer"></use></svg>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                                <div class="chapters__author">
                                    <div class="chapters__sub">
                                        <span>Поделиться:</span>
                                    </div>
                                    <div class="chapters__soc">
                                        <div class="footer__socials">
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#ok-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#vk-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon">
                                                <svg><use xlink:href="#facebook-ico"></use></svg>
                                            </a>
                                            <a href="#" class="footer__icon footer__icon--inst">
                                                <svg><use xlink:href="#instargam-ico"></use></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="brands__watched">
            <div class="mbox">
                <div class="watched">
                    <div class="watched__wrap">
                        <div class="heading heading--linked">
                            <h2>Вы смотрели</h2>
                            <a href="#" class="link link--arrow">Все</a>
                        </div>
                        <div class="watched__slider">
                            <div class="slider">
                                <div class="slide__wrap overflow js-watched-slider">
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bag.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/ball.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/crab.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide-wrap">
                                        <div class="slide">
                                            <div class="slide__heart">
                                                <svg><use xlink:href="#heart-ico"></use></svg>
                                            </div>
                                            <div class="slide__content">
                                                <div class="slide__date"><span>Лето 2019</span></div>
                                                <a href="#" class="slide__img">
                                                    <img src="images/bear.png" alt="">
                                                </a>
                                                <div class="slide__stars">
                                                    <div class="stars">
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item active">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                        <div class="stars__item">
                                                            <svg><use xlink:href="#star-pic"></use></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="slide__name">
                                                    <span>Плюшевый медведь Teddy</span>
                                                </a>
                                                <div class="slide__price">
                                                    <span>780 <span class="rubl">i</span></span>
                                                </div>
                                                <div class="slide__button">
                                                    <button class="button button--cart">
                                                        <svg><use xlink:href="#basket-ico"></use></svg>
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article__banner">
            <div class="mbox">
                <div class="news__banner">
                    <a href="#" class="banner">
                        <div class="banner__wrap">
                            <div class="banner__text">
                                <div class="banner__sub"><span>Рекомендуем</span></div>
                                <div class="banner__main">
                                    <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                                </div>
                                <div class="banner__pic">
                                    <img src="images/vel.png" alt="">
                                </div>
                            </div>

                            <div class="banner__images">
                                <img src="images/velotip.png" alt="">
                                <div class="banner__cloud">
                                    <img src="images/cloud.png" alt="">
                                </div>
                                <div class="banner__cloud banner__cloud--small">
                                    <img src="images/cloud.png" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=489ce515-0a6b-4c1f-b848-d6b5c6ed61fe" type="text/javascript"></script>
    <script>
        var partners_objects = [];
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                center: [55.751574, 37.573856],
                zoom: 9,
                controls: []
            }, {
                searchControlProvider: 'yandex#search'
            });

            myMap.controls.add('zoomControl', {
                size: "small",
                float: 'none',
                position: {
                    bottom: '50px',
                    right: '30px'
                }
            });
            myMap.controls.add('fullscreenControl', {
                float: 'none',
                position: {
                    top: '50px',
                    right: '30px'
                }
            });


            partners_objects[0] = new ymaps.Placemark([55.651574, 37.573856], {
                name: 'Новомосковское ш., 2',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'images/map-pin.svg',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[1] = new ymaps.Placemark([55.851574, 37.573856], {
                name: 'Болдина, 91',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'images/map-pin.svg',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[2] = new ymaps.Placemark([55.751574, 37.673856], {
                name: 'Мира, 9',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'images/map-pin.svg',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[3] = new ymaps.Placemark([55.751574, 37.773856], {
                name: 'Болдина, 91а',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'images/map-pin.svg',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[4] = new ymaps.Placemark([55.791574, 37.773856], {
                name: 'Одоевское ш., 73',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[5] = new ymaps.Placemark([55.771574, 37.753856], {
                name: 'Ленина, 110',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[6] = new ymaps.Placemark([54.771574, 36.753856], {
                name: 'ТЦ «Утюг»',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[7] = new ymaps.Placemark([56.771574, 36.953856], {
                name: 'Болдина, 91б',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[8] = new ymaps.Placemark([55.771574, 37.953856], {
                name: 'Демонстрации, 17А',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[9] = new ymaps.Placemark([55.871574, 37.753856], {
                name: 'Рязанская, 7',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });
            partners_objects[10] = new ymaps.Placemark([55.971574, 37.653856], {
                name: '9 Мая, 31',
                hintContent: 'Игрушки'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point.png',
                iconImageSize: [33, 40],
                iconImageOffset: [-16, -38]
            });

            for (var i = 0; i < partners_objects.length; i++) {
                var other = partners_objects[i];
                other.options.set('iconImageHref', 'images/map-pin.svg');
                myMap.geoObjects.add(partners_objects[i]);
                partners_objects[i].events
                    .add('click', function (e) {
                        e.stopPropagation();
                        for (var k = 0; k < partners_objects.length; k++) {
                            var pointer = partners_objects[k];
                            pointer.options.set({ iconImageHref: 'images/map-pin.svg'});

                        }

                        $('.chapters__details').removeClass('active');
                        $('.chapters__details').each(function () {
                            if (e.originalEvent.target.properties._data.name === $(this).data('detail')) {
                                $(this).addClass('active');
                            }
                        });
                        $('.js-shops-mass').addClass('hide');

                        console.log(e.originalEvent.target.properties._data.name);
                        e.get('target').options.set('iconImageHref', 'images/map-pin-red.svg');
                        myMap.setCenter(e.originalEvent.target.geometry._coordinates, 11, {
                            checkZoomRange: true
                        });
                    })
            }


            myMap.behaviors.disable('scrollZoom');

            $('.js-map-shop').click(function (e) {
                e.preventDefault();
                var data_txt = $(this).attr('data-text');
                for (var i = 0; i < partners_objects.length; i++) {
                    var obj = partners_objects[i];
                    obj.options.set({ iconImageHref: 'images/map-pin.svg'});
                    if (obj.properties._data.name === data_txt) {
                        console.log();
//                    obj.options._options.iconImageHref = 'img/map-point-blue.png';
                        obj.options.set({
                            iconImageHref: 'images/map-pin-red.svg'
                        });
                        myMap.setCenter(obj.geometry._coordinates, 11, {
                            checkZoomRange: true
                        });
                    }
                }
            });

            $(document).on('click', '.js-detail-close', function () {
                for (var i = 0; i < partners_objects.length; i++) {
                    var obj = partners_objects[i];
                    obj.options.set({ iconImageHref: 'images/map-pin.svg'});
                    myMap.setCenter(obj.geometry._coordinates, 9, {
                        checkZoomRange: true
                    });
                }
            });

        });
    </script>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>