//= parts/head.html
//= parts/mobile-menu.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="news">
        <div class="mbox">
            <div class="news__wrap">
                <div class="heading">
                    <h2>Новости</h2>
                </div>
                //= parts/breadcrumbs.html
                <div class="news__blocks">
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Что нужно взять <br> в отпуск с малышом?</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids2.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Чем занять ребенка<br>на каникулах?</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids3.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Готовим вместе<br>с ребенком</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids4.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Чем занять ребенка<br>в выходной?</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids5.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Развивающие<br>игры для детей</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids6.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Для активного<br>отдыха на природе</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids7.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Творческие встречи<br>в наших магазинах</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="news__item">
                        <div class="news__image">
                            <img src="images/kids8.png" alt="">
                        </div>
                        <div class="news__text">
                            <div class="news__date">
                                <span>21 августа</span>
                            </div>
                            <div class="news__short">
                                <span>Для юных<br>исследователей</span>
                            </div>
                        </div>
                    </a>
                </div>
                <button class="button"><span>Показать еще</span></button>
                //= parts/paginator.html
            </div>
            <div class="watched">
                <div class="watched__wrap">
                    <div class="heading heading--linked">
                        <h2>Вы смотрели</h2>
                        <a href="#" class="link link--arrow">Все</a>
                    </div>
                    <div class="watched__slider">
                        <div class="slider">
                            <div class="slide__wrap overflow js-watched-slider">
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bear.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bag.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/ball.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Надувной игровой центр INTEX 57160 динозавр 259х165х107 см</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/crab.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-wrap">
                                    <div class="slide">
                                        <div class="slide__heart">
                                            <svg><use xlink:href="#heart-ico"></use></svg>
                                        </div>
                                        <div class="slide__content">
                                            <div class="slide__date"><span>Лето 2019</span></div>
                                            <a href="#" class="slide__img">
                                                <img src="images/bear.png" alt="">
                                            </a>
                                            <div class="slide__stars">
                                                <div class="stars">
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item active">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                    <div class="stars__item">
                                                        <svg><use xlink:href="#star-pic"></use></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#" class="slide__name">
                                                <span>Плюшевый медведь Teddy</span>
                                            </a>
                                            <div class="slide__price">
                                                <span>780 <span class="rubl">i</span></span>
                                            </div>
                                            <div class="slide__button">
                                                <button class="button button--cart">
                                                    <svg><use xlink:href="#basket-ico"></use></svg>
                                                    <span>В корзину</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__banner">
                <a href="#" class="banner">
                    <div class="banner__wrap">
                        <div class="banner__text">
                            <div class="banner__sub"><span>Рекомендуем</span></div>
                            <div class="banner__main">
                                <span>Самый большой ассортимент велосипедов от лучших брендов</span>
                            </div>
                            <div class="banner__pic">
                                <img src="images/vel.png" alt="">
                            </div>
                        </div>

                        <div class="banner__images">
                            <img src="images/velotip.png" alt="">
                            <div class="banner__cloud">
                                <img src="images/cloud.png" alt="">
                            </div>
                            <div class="banner__cloud banner__cloud--small">
                                <img src="images/cloud.png" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>